azul = #22BCE0
naranja = #DD4F24
gris_oscuro = #444

body
	background #E8E8E8
	color gris_oscuro
	font-family Arial
	font-size 16px

header
	background gris_oscuro
	box-shadow 0 5px 0 rgba(0,0,0,0.2)
	color white
	overflow hidden
	padding 0.5em
	position relative

	.logo
		border-right 1px solid azul
		width 60px

		img
			width 52px

	.titular
		margin 0 80px 0 70px

		.filtro
			color azul
			font-size 14px
			font-style italic
			font-weight bold
			text-decoration none

		.publicar
			background naranja
			color white
			float right
			font-style italic
			padding 0.2em 0.5em
			text-decoration none
			text-shadow 1px 1px 0px black

		.titulo
			font-size 18px
			font-weight normal
			margin 0
			padding 0

	.usuario
		position absolute
		right 10px
		top 10px

		.avatar
			margin 0 1.1em 0 0
			position relative
			z-index 69

			img
				border-radius 50%
				width 50px
		.flechita
			background naranja
			color white
			display block
			padding 2px
			position absolute
			right 0
			text-align right
			text-decoration none
			top 15px
			width 50%
			z-index 0

nav
	background azul
	border-left 15px solid white

	.menu
		height 40px
		line-height 40px
		margin 0
		padding 0
		overflow-x auto
		white-space nowrap

		li
			display inline-block

			a
				color white
				display block
				margin 0 0.5em
				padding 0 0.2em
				text-decoration none

.left
	float left

.right
	float right
